# Exercícios

1. Crie um dataframe de tax_data_2016.csv que usa apenas as colunas específicas necessárias para ver se há diferenças por geografia e nível de renda na composição familiar.
Para fazer isso, selecione as colunas sobre grupo de renda, são elas: CEP (zipcode), status de declaração de imposto de renda (coluna mars1 para solteiro e MARS2 para casado), e  NUMDEP (número de dependentes).

In [9]:
import pandas as pd
import os

In [2]:
pd.set_option('display.max_columns',50)

In [3]:
path_us_data = 'atividade1/us_tax_data_2016.csv'

df_tax_data = pd.read_csv(path_us_data)
df_tax_data

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,...,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,...,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,...,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,...,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,...,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,AL,36584,4,30,0,30,0,20,80,30,0,0,0,0,0,0,0,2572,30,2572,30,2283,20,2,...,0,30,292,0,0,0,0,0,0,0,0,0,0,30,207,30,208,0,0,0,0,0,0,40,160
2997,1,AL,36584,5,30,0,30,0,20,80,30,0,0,0,0,0,0,0,3755,30,3755,30,3060,0,0,...,0,30,510,0,0,0,0,0,0,0,0,0,0,30,442,30,465,0,0,0,0,0,0,0,0
2998,1,AL,36584,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2999,1,AL,36585,1,140,80,20,40,100,240,90,0,0,0,0,0,40,30,1834,140,1875,100,1313,40,11,...,0,130,376,60,209,60,187,40,46,0,0,0,0,40,26,60,51,0,0,0,0,0,0,120,331
3000,1,AL,36585,2,90,40,30,40,60,180,60,0,0,0,0,0,30,20,3235,90,3235,80,2621,0,0,...,0,90,365,30,63,30,54,20,23,0,0,0,0,70,146,80,165,0,0,0,0,40,62,80,228

In [4]:
df_tax_data = df_tax_data.rename(columns={
    "zipcode": "CEP",
    "mars1": "solteiro",
    "MARS2": "casado",
    "NUMDEP": "numero_de_dependentes"
})
df_tax_data

,STATEFIPS,STATE,CEP,agi_stub,N1,solteiro,casado,MARS4,PREP,N2,numero_de_dependentes,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,...,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,...,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,...,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,...,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,...,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,AL,36584,4,30,0,30,0,20,80,30,0,0,0,0,0,0,0,2572,30,2572,30,2283,20,2,...,0,30,292,0,0,0,0,0,0,0,0,0,0,30,207,30,208,0,0,0,0,0,0,40,160
2997,1,AL,36584,5,30,0,30,0,20,80,30,0,0,0,0,0,0,0,3755,30,3755,30,3060,0,0,...,0,30,510,0,0,0,0,0,0,0,0,0,0,30,442,30,465,0,0,0,0,0,0,0,0
2998,1,AL,36584,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2999,1,AL,36585,1,140,80,20,40,100,240,90,0,0,0,0,0,40,30,1834,140,1875,100,1313,40,11,...,0,130,376,60,209,60,187,40,46,0,0,0,0,40,26,60,51,0,0,0,0,0,0,120,331
3000,1,AL,36585,2,90,40,30,40,60,180,60,0,0,0,0,0,30,20,3235,90,3235,80,2621,0,0,...,0,90,365,30,63,30,54,20,23,0,0,0,0,70,146,80,165,0,0,0,0,40,62,80,228

In [5]:
df_tax_data_2016 = df_tax_data.loc[:,['CEP', 'solteiro', 'casado', 'numero_de_dependentes']]
df_tax_data_2016

        CEP  solteiro  casado  numero_de_dependentes
0         0    477700  105350                 491310
1         0    211930  142340                 360480
2         0     83420  137870                 182880
3         0     29420  124060                 130160
4         0     20240  188080                 195990
...     ...       ...     ...                    ...
2996  36584         0      30                     30
2997  36584         0      30                     30
2998  36584         0       0                      0
2999  36585        80      20                     90
3000  36585        40      30                     60

[3001 rows x 4 columns]

In [17]:
path_respostas = 'atividade1/respostas'

os.makedirs(path_respostas, exist_ok=True)

df_tax_data_2016.to_csv(f'{path_respostas}/tax_data_2016_resposta_1.csv',index=False)

2. Obtenha as primeiras 500 linhas em um dataframe chamado primeiras500. 
Em seguida obtenha as próximas 500 linhas em um dataframe proximas500. 
Para fazer isso, use os argumentos ``nrows`` e  ``skiprows`` para obter os registros corretos, 
``header`` para informar aos pandas que os dados não têm nomes de colunas e ``names`` para fornecer os nomes de colunas ausentes.     
Depois, nomeie as colunas em proximos500 fornecendo uma lista de colunas de primeiros500 para o argumento ``names``.
Use a função list() para obter nomes de coluna de primeiros500.

In [11]:
# primeiras500 = pd.read_csv(path_us_data, nrows=500, skiprows=0, headers=0, names=['zipcode', 'mars1', 'MARS2', 'NUMDEP'])
primeiras500 = pd.read_csv(path_us_data, nrows=500, skiprows=0)
primeiras500

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,...,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,...,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,...,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,...,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,...,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1,AL,35176,4,30,0,20,0,30,70,30,0,0,0,0,0,0,0,2439,30,2439,30,2240,0,0,...,0,30,295,0,0,0,0,0,0,0,0,0,0,30,229,30,236,0,0,0,0,0,0,30,87
496,1,AL,35176,5,20,0,20,0,0,50,0,0,0,0,0,0,0,0,3490,20,3490,20,2849,0,0,...,0,20,498,0,0,0,0,0,0,0,0,0,0,20,499,20,522,0,0,0,0,0,0,0,0
497,1,AL,35176,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
498,1,AL,35178,1,590,330,100,140,300,930,320,0,0,0,0,40,160,110,7613,590,7754,450,5813,70,37,...,0,550,1466,260,706,220,618,150,185,40,37,30,10,200,123,280,257,0,0,0,0,50,35,520,1243
499,1,AL,35178,2,390,150,120,100,200,760,250,0,0,0,0,0,100,80,13876,390,13943,340,11628,60,41,...,15,380,1595,120,222,100,189,80,89,0,0,0,0,310,677,320,728,0,0,0,0,50,64,330,926

3. Carregue o arquivo tax_data_2016.csv, visualize o atributo dtypes do dataframe e observe os tipos de dados de CEP e agi_stub.

4. Você deve ter observado que a coluna agi_stub contém números que correspondem a categorias de renda, e CEP tem valores de 5 dígitos que devem ser strings -- tratá-los como inteiros significa que perdemos 0s iniciais, que são significativos. 
Defina os tipos de dados corretos criando um dicionario chamado null_values, especificando que 0s na coluna CEP devem ser considerados valores NA.
Depois, carregue tax_data_2016.csv, usando o argumento na_values e o dicionário para garantir que CEPs inválidos sejam tratados como ausentes.

5. Leia o arquivo fcc_survey.xlsx, atribua-o à variável survey_responses e imprima os primeiros registros de survey_responses.

6. Crie uma string chamada col_string, especificando que os pandas devem carregar a coluna AD e o intervalo AW até BA.
Carregue fcc_survey.xlsx, definindo ``skiprows`` e ``usecols`` para ignorar as duas primeiras linhas e obter apenas as colunas em col_string.
Visualize os nomes das colunas selecionadas no dataframe resultante.

7. Crie um dataframe a partir do arquivo `fcc_survey.xlsx` passando a posição da segunda aba para ``sheet_name``.

8. Carregue as planilhas de 2016 e 2017 por nome em variáveis separadas. Calcule a média da coluna Age para as diferentes abas do arquivo.

9. Concatene as diferentes abas do arquivo `fcc_survey.xlsx` em apenas um dataframe. Calcule a média da coluna Age para a concatenação das abas do arquivo.

10.  Utilizando uma query em SQL e o banco `sqlite-sakila.db` retorne as cidades e os países, mas apenas os países que começem com a letra **B**.