## Atividade 02

# Exercícios

Vamos praticar a criação de várias expectativas para um dataset público. 
Para isso, vamos utilizar o dataset Titanic disponível no Kaggle. 
Este dataset contém informações sobre os passageiros do navio Titanic, incluindo informações como nome, idade, sexo, classe da cabine e se sobreviveram ou não ao naufrágio.

### 1. Importando os dados

In [38]:
# from datetime import datetime
# from faker import Faker
import pandas as pd
import great_expectations as gx

In [39]:
pd.set_option('display.max_columns',50)

In [40]:
path_titanic = 'atividade2/train.csv'

df_titanic = pd.read_csv(path_titanic)
df_titanic

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

1.1 Crie um objeto DataContext

In [41]:
DataContext = gx.get_context()

DataContext

{
  "anonymous_usage_statistics": {
    "explicit_url": false,
    "data_context_id": "1be1baa8-52eb-4ae2-b01e-331fcf32b8c1",
    "explicit_id": true,
    "usage_statistics_url": "https://stats.greatexpectations.io/great_expectations/v1/usage_statistics",
    "enabled": true
  },
  "checkpoint_store_name": "checkpoint_store",
  "config_variables_file_path": "uncommitted/config_variables.yml",
  "config_version": 3.0,
  "data_docs_sites": {
    "local_site": {
      "class_name": "SiteBuilder",
      "show_how_to_buttons": true,
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted\\data_docs\\local_site"
      },
      "site_index_builder": {
        "class_name": "DefaultSiteIndexBuilder"
      }
    }
  },
  "datasources": {},
  "evaluation_parameter_store_name": "evaluation_parameter_store",
  "expectations_store_name": "expectations_store",
  "include_rendered_content": {
    "globally": false,
    "expectation_suite": false,
    "expectation_validation_result": false
  },
  "plugins_directory": "plugins/",
  "stores": {
    "expectations_store": {
      "class_name": "ExpectationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "expectations/"
      }
    },
    "validations_store": {
      "class_name": "ValidationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/validations/"
      }
    },
    "evaluation_parameter_store": {
      "class_name": "EvaluationParameterStore"
    },
    "checkpoint_store": {
      "class_name": "CheckpointStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "checkpoints/"
      }
    },
    "profiler_store": {
      "class_name": "ProfilerStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "profilers/"
      }
    }
  },
  "validations_store_name": "validations_store"
}

1.2 Crie um validator e carregue o dataset Titanic: https://storage.googleapis.com/tf-datasets/titanic/train.csv

In [42]:
validador = DataContext.sources.pandas_default.read_csv(path_titanic)

In [43]:
validador.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [44]:
validador.columns()

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

['survived',
 'sex',
 'age',
 'n_siblings_spouses',
 'parch',
 'fare',
 'class',
 'deck',
 'embark_town',
 'alone']

### 2. Definindo expectativas

Agora que temos o dataframe, podemos começar a criar expectativas sobre os dados.

2.1 Crie uma expectativa que defina que as colunas do dataframe estão na ordem correta.

In [45]:
lista_de_colunas = ['survived',
 'sex',
 'age',
 'n_siblings_spouses',
 'class',
 'fare',
 'deck',
 'embark_town',
 'alone',
 'parch']

In [46]:
validacao_ordem_colunas = validador.expect_table_columns_to_match_ordered_list(lista_de_colunas)
validacao_ordem_colunas

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "result": {
    "observed_value": [
      "survived",
      "sex",
      "age",
      "n_siblings_spouses",
      "parch",
      "fare",
      "class",
      "deck",
      "embark_town",
      "alone"
    ],
    "details": {
      "mismatched": [
        {
          "Expected Column Position": 4,
          "Expected": "class",
          "Found": "parch"
        },
        {
          "Expected Column Position": 6,
          "Expected": "deck",
          "Found": "class"
        },
        {
          "Expected Column Position": 7,
          "Expected": "embark_town",
          "Found": "deck"
        },
        {
          "Expected Column Position": 8,
          "Expected": "alone",
          "Found": "embark_town"
        },
        {
          "Expected Column Position": 9,
          "Expected": "parch",
          "Found": "alone"
        }
      ]
    }
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false
}

2.2 Agora crie uma expectativa para verificar se os valores da coluna "Survived" só podem ser 0 ou 1.

In [47]:
validacao_survived = validador.expect_column_values_to_be_in_set(column='survived', value_set=[0,1])
validacao_survived

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}

2.3 Defina que a coluna "Pclass" só pode ter valores de 1 a 3.

In [48]:
validacao_class = validador.expect_column_values_to_be_in_set(column='class', value_set=['First', 'Second', 'Third'])
validacao_class

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}

2.4 Crie expectativas para verificar se as colunas "Survived" e "Pclass" existem no dataframe.

In [49]:
validacao_coluna_survived = validador.expect_column_to_exist('survived')
validacao_coluna_survived

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}

In [50]:
validacao_coluna_class = validador.expect_column_to_exist('class')
validacao_coluna_class

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}

2.5 Verifique se os valores das colunas "Age" e "Fare" não são nulos e se estão dentro de um intervalo razoável (0 a 100 para "Age" w 0 a 100 para "Fare".

In [51]:
validacao_age_null = validador.expect_column_values_to_not_be_null(column='age')
validacao_age_null

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}

In [52]:
validacao_age_valores = validador.expect_column_values_to_be_between(column= 'age', min_value=0, max_value=100)
validacao_age_valores

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}

In [53]:
validacao_fare_null = validador.expect_column_values_to_not_be_null(column='fare')
validacao_fare_null

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}

In [54]:
validacao_fare_valores = validador.expect_column_values_to_be_between(column= 'fare', min_value=0, max_value=100)
validacao_fare_valores

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "result": {
    "element_count": 627,
    "unexpected_count": 43,
    "unexpected_percent": 6.8580542264752795,
    "partial_unexpected_list": [
      263.0,
      146.5208,
      263.0,
      247.5208,
      146.5208,
      113.275,
      512.3292,
      153.4625,
      135.6333,
      247.5208,
      110.8833,
      108.9,
      262.375,
      164.8667,
      134.5,
      135.6333,
      153.4625,
      133.65,
      211.5,
      227.525
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 6.8580542264752795,
    "unexpected_percent_nonmissing": 6.8580542264752795
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false
}

2.6 Define que a coluna "Sex" só pode ter os valores "male" ou "female".

In [55]:
validacao_sex = validador.expect_column_values_to_be_in_set(column='sex', value_set=['male', 'female'])
validacao_sex

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true
}

### 3. Executando as Expectativas

3.1 Defina um Checkpoint e execute-o para receber os resultados do validator.

In [56]:
checkpoint = gx.checkpoint.SimpleCheckpoint(
    name = "my_quickstart_checkpoint",
    data_context = DataContext,
    validator = validador
)

In [57]:
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/44 [00:00<?, ?it/s]

In [58]:
checkpoint_result

{
  "run_id": {
    "run_name": null,
    "run_time": "2023-04-19T11:21:50.879502-03:00"
  },
  "run_results": {
    "ValidationResultIdentifier::default/__none__/20230419T142150.879502Z/default_pandas_datasource-#ephemeral_pandas_asset": {
      "validation_result": {
        "statistics": {
          "evaluated_expectations": 10,
          "successful_expectations": 8,
          "unsuccessful_expectations": 2,
          "success_percent": 80.0
        },
        "meta": {
          "great_expectations_version": "0.16.3",
          "expectation_suite_name": "default",
          "run_id": {
            "run_name": null,
            "run_time": "2023-04-19T11:21:50.879502-03:00"
          },
          "batch_spec": {
            "reader_method": "read_csv",
            "reader_options": {
              "filepath_or_buffer": "atividade2\\train.csv"
            }
          },
          "batch_markers": {
            "ge_load_time": "20230419T142149.225376Z",
            "pandas_data_fingerprint": "05709dad807d24c620541df64cce309d"
          },
          "active_batch_definition": {
            "datasource_name": "default_pandas_datasource",
            "data_connector_name": "fluent",
            "data_asset_name": "#ephemeral_pandas_asset",
            "batch_identifiers": {}
          },
          "validation_time": "20230419T142150.891499Z",
          "checkpoint_name": "my_quickstart_checkpoint",
          "validation_id": null,
          "checkpoint_id": null
        },
        "results": [
          {
            "result": {
              "observed_value": [
                "survived",
                "sex",
                "age",
                "n_siblings_spouses",
                "parch",
                "fare",
                "class",
                "deck",
                "embark_town",
                "alone"
              ],
              "details": {
                "mismatched": [
                  {
                    "Expected Column Position": 4,
                    "Expected": "class",
                    "Found": "parch"
                  },
                  {
                    "Expected Column Position": 6,
                    "Expected": "deck",
                    "Found": "class"
                  },
                  {
                    "Expected Column Position": 7,
                    "Expected": "embark_town",
                    "Found": "deck"
                  },
                  {
                    "Expected Column Position": 8,
                    "Expected": "alone",
                    "Found": "embark_town"
                  },
                  {
                    "Expected Column Position": 9,
                    "Expected": "parch",
                    "Found": "alone"
                  }
                ]
              }
            },
            "expectation_config": {
              "expectation_type": "expect_table_columns_to_match_ordered_list",
              "meta": {},
              "kwargs": {
                "column_list": [
                  "survived",
                  "sex",
                  "age",
                  "n_siblings_spouses",
                  "class",
                  "fare",
                  "deck",
                  "embark_town",
                  "alone",
                  "parch"
                ],
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": false
          },
          {
            "result": {
              "element_count": 627,
              "unexpected_count": 0,
              "unexpected_percent": 0.0,
              "partial_unexpected_list": [],
              "missing_count": 0,
              "missing_percent": 0.0,
              "unexpected_percent_total": 0.0,
              "unexpected_percent_nonmissing": 0.0,
              "partial_unexpected_index_list": [],
              "partial_unexpected_counts": []
            },
            "expectation_config": {
              "expectation_type": "expect_column_values_to_be_in_set",
              "meta": {},
              "kwargs": {
                "column": "survived",
                "value_set": [
                  0,
                  1
                ],
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": true
          },
          {
            "result": {},
            "expectation_config": {
              "expectation_type": "expect_column_to_exist",
              "meta": {},
              "kwargs": {
                "column": "survived",
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": true
          },
          {
            "result": {
              "element_count": 627,
              "unexpected_count": 0,
              "unexpected_percent": 0.0,
              "partial_unexpected_list": [],
              "missing_count": 0,
              "missing_percent": 0.0,
              "unexpected_percent_total": 0.0,
              "unexpected_percent_nonmissing": 0.0,
              "partial_unexpected_index_list": [],
              "partial_unexpected_counts": []
            },
            "expectation_config": {
              "expectation_type": "expect_column_values_to_be_in_set",
              "meta": {},
              "kwargs": {
                "column": "class",
                "value_set": [
                  "First",
                  "Second",
                  "Third"
                ],
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": true
          },
          {
            "result": {},
            "expectation_config": {
              "expectation_type": "expect_column_to_exist",
              "meta": {},
              "kwargs": {
                "column": "class",
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": true
          },
          {
            "result": {
              "element_count": 627,
              "unexpected_count": 0,
              "unexpected_percent": 0.0,
              "partial_unexpected_list": [],
              "partial_unexpected_index_list": [],
              "partial_unexpected_counts": []
            },
            "expectation_config": {
              "expectation_type": "expect_column_values_to_not_be_null",
              "meta": {},
              "kwargs": {
                "column": "age",
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": true
          },
          {
            "result": {
              "element_count": 627,
              "unexpected_count": 0,
              "unexpected_percent": 0.0,
              "partial_unexpected_list": [],
              "missing_count": 0,
              "missing_percent": 0.0,
              "unexpected_percent_total": 0.0,
              "unexpected_percent_nonmissing": 0.0,
              "partial_unexpected_index_list": [],
              "partial_unexpected_counts": []
            },
            "expectation_config": {
              "expectation_type": "expect_column_values_to_be_between",
              "meta": {},
              "kwargs": {
                "column": "age",
                "min_value": 0,
                "max_value": 100,
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": true
          },
          {
            "result": {
              "element_count": 627,
              "unexpected_count": 0,
              "unexpected_percent": 0.0,
              "partial_unexpected_list": [],
              "partial_unexpected_index_list": [],
              "partial_unexpected_counts": []
            },
            "expectation_config": {
              "expectation_type": "expect_column_values_to_not_be_null",
              "meta": {},
              "kwargs": {
                "column": "fare",
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": true
          },
          {
            "result": {
              "element_count": 627,
              "unexpected_count": 43,
              "unexpected_percent": 6.8580542264752795,
              "partial_unexpected_list": [
                263.0,
                146.5208,
                263.0,
                247.5208,
                146.5208,
                113.275,
                512.3292,
                153.4625,
                135.6333,
                247.5208,
                110.8833,
                108.9,
                262.375,
                164.8667,
                134.5,
                135.6333,
                153.4625,
                133.65,
                211.5,
                227.525
              ],
              "missing_count": 0,
              "missing_percent": 0.0,
              "unexpected_percent_total": 6.8580542264752795,
              "unexpected_percent_nonmissing": 6.8580542264752795,
              "partial_unexpected_index_list": [
                20,
                24,
                69,
                93,
                143,
                158,
                187,
                196,
                197,
                215,
                220,
                221,
                225,
                230,
                231,
                236,
                240,
                241,
                272,
                274
              ],
              "partial_unexpected_counts": [
                {
                  "value": 135.6333,
                  "count": 2
                },
                {
                  "value": 146.5208,
                  "count": 2
                },
                {
                  "value": 153.4625,
                  "count": 2
                },
                {
                  "value": 247.5208,
                  "count": 2
                },
                {
                  "value": 263.0,
                  "count": 2
                },
                {
                  "value": 108.9,
                  "count": 1
                },
                {
                  "value": 110.8833,
                  "count": 1
                },
                {
                  "value": 113.275,
                  "count": 1
                },
                {
                  "value": 133.65,
                  "count": 1
                },
                {
                  "value": 134.5,
                  "count": 1
                },
                {
                  "value": 164.8667,
                  "count": 1
                },
                {
                  "value": 211.5,
                  "count": 1
                },
                {
                  "value": 227.525,
                  "count": 1
                },
                {
                  "value": 262.375,
                  "count": 1
                },
                {
                  "value": 512.3292,
                  "count": 1
                }
              ]
            },
            "expectation_config": {
              "expectation_type": "expect_column_values_to_be_between",
              "meta": {},
              "kwargs": {
                "column": "fare",
                "min_value": 0,
                "max_value": 100,
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": false
          },
          {
            "result": {
              "element_count": 627,
              "unexpected_count": 0,
              "unexpected_percent": 0.0,
              "partial_unexpected_list": [],
              "missing_count": 0,
              "missing_percent": 0.0,
              "unexpected_percent_total": 0.0,
              "unexpected_percent_nonmissing": 0.0,
              "partial_unexpected_index_list": [],
              "partial_unexpected_counts": []
            },
            "expectation_config": {
              "expectation_type": "expect_column_values_to_be_in_set",
              "meta": {},
              "kwargs": {
                "column": "sex",
                "value_set": [
                  "male",
                  "female"
                ],
                "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
              }
            },
            "meta": {},
            "exception_info": {
              "raised_exception": false,
              "exception_traceback": null,
              "exception_message": null
            },
            "success": true
          }
        ],
        "evaluation_parameters": {},
        "success": false
      },
      "actions_results": {
        "store_validation_result": {
          "class": "StoreValidationResultAction"
        },
        "store_evaluation_params": {
          "class": "StoreEvaluationParametersAction"
        },
        "update_data_docs": {
          "local_site": "file://d:\\Estudos\\dados\\Analytics\\bootcamp-analytics\\great_expectations\\uncommitted\\data_docs\\local_site\\validations%5Cdefault%5C__none__%5C20230419T142150.879502Z%5Cdefault_pandas_datasource-%23ephemeral_pandas_asset.html",
          "class": "UpdateDataDocsAction"
        }
      }
    }
  },
  "checkpoint_config": {
    "slack_webhook": null,
    "profilers": [],
    "module_name": "great_expectations.checkpoint",
    "notify_with": null,
    "default_validation_id": null,
    "notify_on": null,
    "evaluation_parameters": {},
    "ge_cloud_id": null,
    "runtime_configuration": {},
    "template_name": null,
    "expectation_suite_name": "default",
    "batch_request": {},
    "name": "my_quickstart_checkpoint",
    "config_version": 1.0,
    "run_name_template": null,
    "expectation_suite_ge_cloud_id": null,
    "class_name": "Checkpoint",
    "validations": [],
    "site_names": null,
    "action_list": [
      {
        "name": "store_validation_result",
        "action": {
          "class_name": "StoreValidationResultAction"
        }
      },
      {
        "name": "store_evaluation_params",
        "action": {
          "class_name": "StoreEvaluationParametersAction"
        }
      },
      {
        "name": "update_data_docs",
        "action": {
          "class_name": "UpdateDataDocsAction",
          "site_names": []
        }
      }
    ]
  },
  "success": false
}

In [59]:
DataContext.build_data_docs()

{'local_site': 'file://d:\\Estudos\\dados\\Analytics\\bootcamp-analytics\\great_expectations\\uncommitted\\data_docs\\local_site\\index.html'}

In [60]:
DataContext.open_data_docs()

In [61]:
DataContext.convert_to_file_context()

AttributeError: 'FileDataContext' object has no attribute 'convert_to_file_context'